.question-nav {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.question-card {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  margin: 0.5rem 0rem 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
